
.login-box{

    margin: auto;
    margin-top: 20px;
    min-width: 300px;
    max-width: 375px;
    width: 90%;
    padding-top:15px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}